.counter-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 1.5rem;
  border: 2px solid rgb(179, 235, 227);
  border-radius: 4px;
}

#btn {
  border-radius: 5px;
  width: fit-content;
  padding: 4px 7px 4px 7px;
  background-color: rgb(40, 155, 184);
  color: white;
  border: none;
}

#btn:active {
  background-color: rgb(144, 222, 241);
}
