body{
    background-color: rgb(189, 197, 194);
}
h2{
    background-color:rgb(82, 70, 240);
}
.comedy{
    background-color: rgb(152, 210, 243);
}
.song{
    background-color: rgb(152, 210, 243);
}
.roast{
    background-color: rgb(152, 210, 243);
}